 * {
    margin: 0;
    padding: 0;
  }
  body{
    position: relative;
  }

.navbar{
  /* display: flex;
  justify-content: space-around;
  align-items: center;
background-color: rgb(3, 3, 109);
color: white;
height: 70px; */
display: none !important;
}
.navcontainer{
  background-color: rgb(3, 3, 109) !important;
  height: 70px;
}
#humbergstyle {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  position: absolute;
  right: 4px;
  top: 11px;
  background-color: rgb(11, 107, 197);
}
.fa-youtube{
  background-color: red !important;
}
.fa-facebook{
  background-color: blue !important;
}
.fa-github{
  background-color: black !important;
}
.fa-linkedin{
  background-color: blue !important;
}
.footer{
  background-color: rgb(3, 3, 109);
  margin-top: 15px !important;
}

.humbergline {
  width: 46px;
  height: 2px;
  background-color:  rgb(255, 255, 255);;
  margin: 9px 0px;
}
.humberg{
  display: block;
}
.humbergexpander{
background-color: rgb(11, 117, 216) !important;
border-radius: 2% 98% 0% 100% / 0% 0% 100% 100% !important;
 position: absolute !important;
top: 0px !important;
right: 0px !important;
height: 305px!important;
    width: 220px!important;
   display: flex !important;
   justify-content: space-around;
   flex-direction: column;
   align-items: flex-end;
}

.humbergexpanderelement{
  color: white;
}

#humbergclose {
  display: none ;
  color: white;
  background-color: rgb(54, 117, 235);
  border: 1px solid white;
}
.crossed{
  display: none !important;
}


.humbergclose{
  width: 49px ;
  position: absolute ;
  right: 119px ;
  top: 98px ;
  height: 29px ;
/* z-index: 1 !important; */
display: block !important;
}

.imagefront{
  width: 100%;
  border-radius: 50%;
  height: 350px;
  margin-top: 10px;
}
.typerbox{
  margin-top: 15px;
  line-height: 50px;
  color: blue;
}
.contact{
  color: rgb(4, 4, 107);
  margin-top: 15px !important;
  font-size: 31px;
}
.typerheading{
  line-height: 50px;
}
.insidecardbtn{
  margin: 0px 15px;
  font-weight: bolder;
  /* color: white !important; */
  background-color:  rgb(3, 3, 109);
  font-size: 11px;
    width: 145px;
    height: 57px;
    /* text-decoration: none !important; */
   
}
.linkstyle{
  text-decoration: none;
  color: white;
}

.btnspace{
  display: flex;
  justify-content: center;
}
.cardbody{
  display: flex;justify-content: space-around;
  flex-direction: column;
}

.experience{
  margin-top: 25px;
  color: rgb(5, 5, 109);
  line-height: 69px;
}
.education{
  margin-top: 15px !important;
}
.card{
  background-color: rgb(3, 3, 109) !important;
  width: 17rem ;
  /* margin-top: 10px; */
}
.cardproject{
    margin-top: 10px;
}
.text{
  color: white !important;
}
.Portfolio{
  color: rgb(5, 5, 109);
  line-height: 40px;
  font-size: 35px;
}



/* ================nav============== */


      .circular-menu {
        position: fixed;
        bottom: 1em;
        right: 1em;
      }
      .circular-menu .floating-btn {
        display: block;
        width: 3.5em;
        height: 3.5em;
        border-radius: 50%;
        background-color: hsl(4, 98%, 60%);
        box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
        color: hsl(0, 0%, 100%);
        text-align: center;
        line-height: 3.9;
        cursor: pointer;
        outline: 0;
      }
      .circular-menu.active .floating-btn {
        box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
      }
      .circular-menu .floating-btn:active {
        box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
      }
      .circular-menu .floating-btn i {
        font-size: 1.3em;
        transition: transform .2s;  
      }
      .circular-menu.active .floating-btn i {
        transform: rotate(-45deg);
      }
      .circular-menu:after {
        display: block;
        content: ' ';
        width: 3.5em;
        height: 3.5em;
        border-radius: 50%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
        background-color: hsl(4, 98%, 60%);
        transition: all .3s ease;
      }
      .circular-menu.active:after {
        transform: scale3d(5.5, 5.5, 1);
        transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
      }
      .circular-menu .items-wrapper {
        padding: 0;
        margin: 0;
      }
      .circular-menu .menu-item {
        position: absolute;
        top: .2em;
        right: .2em;
        z-index: -1;
        display: block;
        text-decoration: none;
        color: hsl(0, 0%, 100%);
        font-size: 1em;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        text-align: center;
        line-height: 3;
        background-color: hsla(0,0%,0%,.1);
        transition: transform .3s ease, background .2s ease;
      }
      .circular-menu .menu-item:hover {
        background-color: hsla(0,0%,0%,.3);
      }
      .circular-menu.active .menu-item {
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
      .circular-menu.active .menu-item:nth-child(1) {
        transform: translate3d(1em,-7em,0);
      }
      .circular-menu.active .menu-item:nth-child(2) {
        transform: translate3d(-3.5em,-6.3em,0);
      }
      .circular-menu.active .menu-item:nth-child(3) {
        transform: translate3d(-6.5em,-3.2em,0);
      }
      .circular-menu.active .menu-item:nth-child(4) {
        transform: translate3d(-7em,1em,0);
      }   
      .circular-menu.circular-menu-left {
        right: auto; 
        left: 1em;
      }
      .circular-menu.circular-menu-left .floating-btn {
        background-color: hsl(217, 89%, 61%);
      }
      .circular-menu.circular-menu-left:after {
        background-color: hsl(217, 89%, 61%);
      }
      .circular-menu.circular-menu-left.active .floating-btn i {
        transform: rotate(90deg);
      }
      .circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
        transform: translate3d(-1em,-7em,0);
      }
      
      .circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
        transform: translate3d(3.5em,-6.3em,0);
      }
      
      .circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
        transform: translate3d(6.5em,-3.2em,0);
      }
      
      .circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
        transform: translate3d(7em,1em,0);
      }
      /* @media (max-width: 768px) {
        .navbar{
          display: none !important;
        }
        .humberg {
          display: block !important;
        }
      } */
      .innerfb{
        transform: translate(3px, -3px) !important;
      }
      .inneryoutube{
        transform: translate(3px, -3px) !important;
      }
      .innergithub{
        transform: translate(3px, -3px) !important;
      }
      .innerlinkedin{
        transform: translate(3px, -3px) !important;
      }

      .homelink{
        color: white;
        text-decoration: none;
      }
      .portfoliolink{
        color: white;
        text-decoration: none;
      }
      .educationlink{
        color: white;
        text-decoration: none;
      }
      .contactlink{
        color: white;
        text-decoration: none;
      }

      @media(min-width:375px){
        .card{
          width: 22rem ;
        }
        
      }
      @media(min-width:425px){
        .card{
          width: 24rem ;
        }
        /* .humberg {
          display: block !important;
        } */
      }

      @media (min-width: 768px  ) {
        .navbar{
          display: block !important;
          display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
background-color: rgb(3, 3, 109);
color: white;
height: 70px !important; 
        }
        .navcontent{
          font-size: 25px;
        }
        .humberg {
          display: none !important;
        }
        .imagefront{
          height: 509px;
        }
        .typercontainer{
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
        .card{
          width: 20rem ;
        }
        .card-img-top{
          height: 203px;
        }
        .education{
margin-top: 7px !important;
height: 170px;
        }
        .innercard{
          height: 170px !important;
        }
      }


      @media(min-width:1024px){
        
        nav.visible li:last-child{
            top: -25vw;
            right: -28vw;
            width: 39vw;
            height: 48vw;
        }
        .Portfolio{
          line-height: 53px;
    font-size: 45px;
        }
        .card{
          width: 28rem;
        }
        .contact{    line-height: 58px;
        font-size: 48px;
      }
      address{
        font-size: 24px;
      }
      .text{
        font-size: 18px;
      }
      .footer{
        padding: 17px 0px
      }
      button{
        font-size: 18px !important;
      }
        nav.visible li:last-child a {
            font-size: 30px;
            line-height: 67vw !important;
            text-indent: 3vw !important;
        }
        nav.visible li:nth-child(4) {
            height: 69vw;
            top: -32vw;
            right: -33vw;
            width: 54vw;
        }
        nav.visible li:nth-child(4) a {
            line-height: 104vw !important;
            text-indent: 6vw !important;
            font-size: 29px;
        }

        nav.visible li:nth-child(3) {
            height: 83vw;
            top: -33vw;
            right: -54vw;
            width: 87vw;
        }
        nav.visible li:nth-child(3) a {
            line-height: 121vw !important;
            text-indent: 8vw !important;
            font-size: 33px;
        }
        nav.visible li:nth-child(2) {
            height: 118vw;
            top: -52vw;
            right: -77vw;
            width: 122vw;
        }
        nav.visible li:nth-child(2) a {
            line-height: 176vw !important;
            text-indent: 11vw !important;
            font-size: 38px;
        }
nav.visible li:first-child {
  
    right: -107vw;
    width: 168vw;
    height: 179vw;
    top: -93vw;
}
nav.visible li:first-child a {
    line-height: 271vw !important;
    text-indent: 14vw !important;
    font-size: 35px;
}
}

/* @media (min-width: 768px) {
  .navbar{
    display: none !important;
  }
  .humberg {
    display: block !important;
  }
}
       */